<li><%= link_to 'About', '/about' %></li>
<li><%= link_to 'Map', '/map' %></li>
<li><%= link_to 'Facilities', facilities_path %></li>
<li><%= link_to 'Patients', patients_path %></li>
<li><%= link_to 'Drivers', drivers_path %></li>
